.about div {
  font-size: 18px;
}
.about img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.about h3 {
  font-family: "Roboto Mono", monospace;
  color: rgb(204, 177, 22);
  font-size: 30px;
}
.about .about__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.about .about__container .about__title {
  font-family: var(--fonttitle-family);
  color: var(--green);
  font-size: 72px;
  font-style: italic;
  margin-top: 40px;
  text-align: center;
}

/* about story */
.about .about__container .about__story {
}

/* about value */
.about .about__container .about__value {
}
.about .about__container .about__value h4 {
  text-align: center;
}
.about .about__container .about__value img {
  margin: 10px 0px;
  width: 100%;
  object-fit: cover;
}

/* about service */
.about .about__container .about__service {
}
.about .about__container .about__service img {
  margin: 10px 0px;
  width: 100%;
  object-fit: cover;
}
