.menu {
  opacity: 1 !important;
  visibility: visible !important;
  /* display: flex !important; */
}
.bars {
  display: none;
}
.header {
  width: 100%;
  transition: all 0.3s linear;
  position: relative;
  /* background-color: black; */
}
.header .header__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.header__wrap {
  color: white;
  background-color: black;
  width: 100vw;
}
.header__top {
}
.fix {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header .header__wrap img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 5px 0px;
  transition: all 0.1s linear;
}
.header.fix img {
  width: 70px;
  height: 70px;
  margin: 0px 0px;
}
.header__bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  font-family: "Zen Loop", cursive;
}
.header__bottom .bottom__list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  /* margin-left: auto;
  margin-right: auto; */
  font-size: 25px;
  font-weight: 800;
  align-items: center;
}
.header__bottom .bottom__list .bottom__list-wrapper {
  display: flex;
  width: 60%;
  justify-content: space-between;
  transition: all 0.3s linear;
}
.header__bottom .bottom__list .bottom__list-wrapper .close {
  position: relative;
  width: 30px;
  height: 30px;
  display: none;
}

.header__bottom .bottom__list .bottom__list-wrapper .close::after {
  content: "";
  height: 2px;
  width: 35px;
  border: 1px black solid;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  background-color: white;
  border-radius: 35px;
}
.header__bottom .bottom__list .bottom__list-wrapper .close::before {
  content: "";
  height: 2px;
  width: 35px;
  border: 1px black solid;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  background-color: white;
  border-radius: 35px;
}

.header__right {
  display: flex;
  justify-content: space-around;
  width: 20%;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
}
.header__right .profile {
  display: flex;
}
.header__right .profile h6 {
  font-size: 18px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.header__right .header__right-signin {
  margin: 0px 8px;
}
.header__right .header__right-icon {
  position: relative;
}
.header .icon {
  width: 30px !important;
  height: 30px;
  position: relative;
}
.header .icon:hover {
  cursor: pointer;
}
.icon__amount {
  font-size: 20px;
  width: 25px;
  position: absolute;
  top: 50%;
  left: 90%;
  font-family: initial;
  border-radius: 40px;
  background-color: #fbb403;
}

.header__cart {
  height: 100vh;
  width: 120vw;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  transition: all 0.85s linear 0.15s;
  transition-delay: 0.3s;
}
.header__cart.active {
  opacity: 1;
  visibility: visible;
  right: 0;
}
.header__cart .header__cart-wrap {
  width: 30%;
  margin-left: auto;
  background-color: white;
  height: 100%;
  font-family: "Kaisei Tokumin", serif;
  text-transform: uppercase;
}
.header__cart .header__cart-wrap .cart__title {
  display: flex;
  border-bottom: 1px solid rgb(94, 88, 88);
  justify-content: space-around;
  align-items: center;
}
.cart__title h2 {
  font-weight: 550;
}
.cart__title .cart__close {
  position: relative;
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
}

.header__cart.active .cart__title .cart__close::after {
  background-color: black;
  width: 100%;
  height: 0.5rem;
  display: inline-block;
  content: "";
  position: absolute;
  transform: rotate(-45deg);
  top: 45%;
  border-radius: 45px;
  transition: all 0.3s linear;
}
.header__cart .cart__title .cart__close::after {
  transform: rotate(-0deg);
  background-color: black;
  width: 100%;
  height: 0.5rem;
  display: inline-block;
  content: "";
  position: absolute;
  top: 45%;
  border-radius: 45px;
  transition: all 0.3s linear;
}
.header__cart .cart__title .cart__close::before {
  transform: rotate(0deg);
  background-color: black;
  width: 100%;
  height: 0.5rem;
  display: inline-block;
  content: "";
  position: absolute;
  top: 45%;
  border-radius: 45px;
  transition: all 0.3s linear;
}
.header__cart.active .cart__title .cart__close::before {
  background-color: black;
  width: 100%;
  height: 0.5rem;
  display: inline-block;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  top: 45%;
  border-radius: 45px;
  transition: all 0.3s linear;
}
.cart__list-item {
  display: flex;
  justify-content: space-around;
}
.cart__list-item div {
  margin: 5px 0;
}
.cart__list-item .cart__item-image img {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 5px 0px;
  transition: all 0.1s linear;
}
.cart__list-item .cart__item-info {
  width: 60%;
}

.cart__list-item .cart__item-info .item__name h4 {
  font-size: 18px;
  font-weight: 550;
}
.cart__list-item .cart__item-info .item__price {
  color: red;
  font-weight: 550;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.cart__list-item .cart__item-info .item__amount {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}
.cart__list-item .cart__item-info .item__amount button {
  font-size: 20px;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.cart__list-item .cart__item-info .item__amount button:hover {
  color: red;
  cursor: pointer;
}
.cart__list-item .cart__item-delete {
  display: flex;
}
.cart__list-item .cart__item-delete .product__delete {
  margin-top: auto;
  margin-bottom: auto;
}
.cart__list-item .cart__item-delete .product__delete:hover {
  cursor: pointer;
}

.scrollup__button {
  position: fixed;
  bottom: 20%;
  right: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  box-shadow: 0 1px 13px rgb(0 0 0 / 8%);
  border-radius: 50%;
  transition: all 0.3s linear;
  background: #80808047;
  z-index: 2;
}
.scrollup__button:hover {
  cursor: pointer;
}
.scrollup__button:hover .fa-chevron-circle-up {
  color: white;
  background-color: #f50057;
}
.fa-chevron-circle-up {
  margin-bottom: auto;
  margin-top: auto;
  font-size: 30px;
  color: #f50057;
  background-color: white;
  border-radius: 50%;
  position: relative;
  transform: translateY(50%);
  transition: all 0.3s linear;
}

/* ================RESPONSIVE====================== */
@media (max-width: 320px) {
  /* =======================HEADER========================== */
  .header {
  }
  .bars {
    display: unset !important;
  }
  .header__bottom .bottom__list .bottom__list-wrapper {
    opacity: 0;
    visibility: hidden;
    /* display: none; */
    position: fixed;
    top: 20%;
    left: 0;
    width: 100vw;
    height: 60vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.226);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header .header__container {
    width: 100%;
  }
  .header__bottom .bottom__list .bottom__list-wrapper .close {
    display: unset;
  }
  .header__right {
    width: 50%;
    flex-direction: column;
  }
  .MuiAvatar-root {
    width: 30px !important;
    height: 30px !important;
  }
  .MuiButton-root {
    padding: 3px 8px !important;
  }
  .header__cart {
    width: 100vw;
  }
  .header__cart .header__cart-wrap {
    width: 100%;
  }
}
@media (max-width: 425px) and (min-width: 321px) {
  /* =======================HEADER========================== */
  .header {
  }
  .bars {
    display: unset !important;
  }
  .header__bottom .bottom__list .bottom__list-wrapper {
    opacity: 0;
    visibility: hidden;
    /* display: none; */
    position: fixed;
    top: 20%;
    left: 0;
    width: 100vw;
    height: 60vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.226);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header__bottom .bottom__list .bottom__list-wrapper .close {
    display: unset;
  }
  .header .header__container {
    width: 100%;
  }
  .header__right {
    width: 50%;
    flex-direction: column;
  }
  .MuiAvatar-root {
    width: 30px !important;
    height: 30px !important;
  }
  .MuiButton-root {
    padding: 3px 8px !important;
  }
  .header__cart {
    width: 100vw;
  }
  .header__cart .header__cart-wrap {
    width: 100%;
  }
}
@media (max-width: 768px) and (min-width: 426px) {
  /* =======================HEADER========================== */
  .header {
  }
  .bars {
    display: unset !important;
  }
  .header__bottom .bottom__list {
    width: 25%;
  }
  .header__bottom .bottom__list .bottom__list-wrapper {
    opacity: 0;
    visibility: hidden;
    /* display: none; */
    position: fixed;
    top: 20%;
    left: 0;
    width: 100vw;
    height: 60vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.226);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header__bottom .bottom__list .bottom__list-wrapper .close {
    display: unset;
  }
  .header .header__container {
    width: 100%;
  }
  .header__right {
    width: 50%;
    flex-direction: column;
  }
  .MuiAvatar-root {
    width: 30px !important;
    height: 30px !important;
  }
  .MuiButton-root {
    padding: 3px 8px !important;
  }
  .header__cart {
    width: 100vw;
  }
  .header__cart .header__cart-wrap {
    width: 100%;
  }
}
