.footer {
  /* margin-top: 30px; */
  background-color: #f8f8f8;
  font-family: "Georama", sans-serif;
}
.footer__underline {
  position: relative;
  text-decoration: none;
}
.footer__underline:hover {
  color: #a5a517;
}
.footer__underline::after {
  content: "";
  width: 0%;
  height: 1px;
  bottom: -1px;
  position: absolute;
  left: auto;
  right: 0;
  transition: width 0.6s;
  background: currentColor;
}
.footer__underline:hover::after {
  width: 100%;
  left: 0;
}
.footer .footer__container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  padding: 40px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .footer__container div h2 {
  font-size: 20px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  margin-top: 30px;
}
/* =======footer introduce====== */
.footer .footer__container .footer__introduce {
  width: 30%;
}
.footer__introduce .footer__introduce-title {
  margin-bottom: 10px;
}
.footer__introduce .footer__introduce-description {
  margin-bottom: 10px;
  font-size: 18px;
}
.footer__introduce .footer__introduce-image {
  width: 90%;
  object-fit: cover;
}
/* ======= */
.footer .footer__container .footer__policy {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.footer__policy .footer__policy-title {
  margin-bottom: 10px;
}
.footer__policy span {
  font-size: 18px;
  margin-bottom: 10px;
}
.footer__policy span a {
  /* font-size: 18px; */
}

/* -==============footer__contact========= */
.footer .footer__container .footer__contact {
  width: 30%;
}
.footer__contact .footer__contact-title {
  margin-bottom: 10px;
}
.footer__contact div {
  margin: 10px 0;
  font-size: 18px;
}
.footer__contact div .footer__contact-index {
  font-weight: 600;
}

.footer__contact .footer__contact-logo {
  margin-top: 30px;
}
.footer__contact-logo .logo__list {
  display: flex;
  justify-content: space-around;
}
.footer__contact-logo .logo__list .logo__list-item {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}
.footer__contact-logo .logo__list .logo__list-item::after {
  content: "Facebook";
  font-size: 15px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: blue;
  border-radius: 20px;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.footer__contact-logo .logo__list .logo__list-item.instagram::after {
  content: "Instagram";
}
.footer__contact-logo .logo__list .logo__list-item.github::after {
  content: "Github";
}
.footer__contact-logo .logo__list .logo__list-item::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid blue;
  position: absolute;
  top: 170%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}
.footer__contact-logo .logo__list .logo__list-item:hover {
  cursor: pointer;
}
.footer__contact-logo .logo__list .logo__list-item:hover::after {
  opacity: 1;
  visibility: visible;
  top: -80%;
}
.footer__contact-logo .logo__list .logo__list-item:hover::before {
  opacity: 1;
  visibility: visible;
  top: -20%;
}
.logo__list-item i {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa-facebook {
  color: #3578e5;
}

/* =================RESPONSIVE */
@media (max-width: 320px) {
  /* ===========================FOOTER================= */
  .footer .footer__container {
    flex-direction: column;
  }
  .footer .footer__container .footer__introduce {
    width: 100%;
  }
  .footer .footer__container .footer__policy {
    width: 100%;
  }
  .footer .footer__container .footer__contact {
    width: 100%;
  }
  .footer__introduce .footer__introduce-image {
    width: 100%;
  }
}
@media (min-width: 321px) and (max-width: 425px) {
  .footer .footer__container {
    flex-direction: column;
  }
  .footer .footer__container .footer__introduce {
    width: 100%;
  }
  .footer .footer__container .footer__policy {
    width: 100%;
  }
  .footer .footer__container .footer__contact {
    width: 100%;
  }
  .footer__introduce .footer__introduce-image {
    width: 100%;
  }
}
@media (min-width: 426px) and (max-width: 500px) {
  .footer .footer__container {
    flex-direction: column;
  }
  .footer .footer__container .footer__introduce {
    width: 100%;
  }
  .footer .footer__container .footer__policy {
    width: 100%;
  }
  .footer .footer__container .footer__contact {
    width: 100%;
  }
  .footer__introduce .footer__introduce-image {
    width: 100%;
  }
}
/* @media (min-width:501) and (max-width:768px) {
  
}
@media (min-width: 769px) {
  .footer .footer__container {
    flex-direction: column;
  }
  .footer .footer__container .footer__introduce {
    width: 100%;
  }
  .footer .footer__container .footer__policy {
    width: 100%;
  }
  .footer .footer__container .footer__contact {
    width: 100%;
  }
  .footer__introduce .footer__introduce-image {
    width: 100%;
  }
} */
