:root {
  --green: rgb(35, 87, 20);
  --fonttitle-family: "Noto Sans", sans-serif;
}
.loading {
  margin: auto;
}
.element1 {
  position: relative;
  transform: translate(80%, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s linear;
}
.show1 {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}
.element2 {
  position: relative;
  transform: translate(-80%, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s linear;
}
.show2 {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}
.element3 {
  position: relative;
  transform: translate(0, 80%);
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
}
.show3 {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
